<a href="https://colab.research.google.com/github/Sebastiantenb/word-matching-fuzzywuzzy/blob/main/Word_Matching.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd

In [52]:
list_base_word = ["Apple", "Pear", "Banana", "Orange", "Peach"]
list_match_word = ["apple", "Bear", "Bannana", "Orange", "Peaches", "Banaan"]

In [53]:
df_base_word = pd.DataFrame(list_base_word, columns = ["base_word"])
df_match_word = pd.DataFrame(list_match_word, columns = ["match_word"])

In [42]:
df_base_word

  base_word
0     Apple
1      Pear
2    Banana
3    Orange
4     Peach
5    Banaan

In [54]:
df_match_word

  match_word
0      apple
1       Bear
2    Bannana
3     Orange
4    Peaches
5     Banaan

In [20]:
import sys
!{sys.executable} -m pip install fuzzywuzzy

Collecting fuzzywuzzy
  Downloading fuzzywuzzy-0.18.0-py2.py3-none-any.whl (18 kB)
Installing collected packages: fuzzywuzzy
Successfully installed fuzzywuzzy-0.18.0

In [32]:
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

In [66]:
process.extract("Banana", df_match_word["match_word"], limit = 2)

[('Bannana', 92, 2), ('Banaan', 83, 5)]

In [64]:
df_base_word['matched_word'] = df_base_word["base_word"].map(lambda x: process.extract(x, df_match_word["match_word"], limit = 1)[0])

In [65]:
df_base_word.head(10)

  base_word      matched_word
0     Apple   (apple, 100, 0)
1      Pear     (Bear, 75, 1)
2    Banana  (Bannana, 92, 2)
3    Orange  (Orange, 100, 3)
4     Peach  (Peaches, 83, 4)

In [ ]:
process.extract