<a href="https://colab.research.google.com/github/Sebastiantenb/word-matching-fuzzywuzzy/blob/main/Word_Matching.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
list_base_word = ["Apple", "Pear", "Banana", "Orange", "Peach"]
list_match_word = ["apple", "Bear", "Bannana", "Orange", "Peaches", "Banaan"]

In [3]:
df_base_word = pd.DataFrame(list_base_word, columns = ["base_word"])
df_match_word = pd.DataFrame(list_match_word, columns = ["match_word"])

In [4]:
df_base_word

  base_word
0     Apple
1      Pear
2    Banana
3    Orange
4     Peach

In [5]:
df_match_word

  match_word
0      apple
1       Bear
2    Bannana
3     Orange
4    Peaches
5     Banaan

In [6]:
import sys
!{sys.executable} -m pip install fuzzywuzzy

Collecting fuzzywuzzy
  Downloading fuzzywuzzy-0.18.0-py2.py3-none-any.whl (18 kB)
Installing collected packages: fuzzywuzzy
Successfully installed fuzzywuzzy-0.18.0

In [7]:
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

/usr/local/lib/python3.7/dist-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [113]:
list_matches = process.extractOne("Banana", df_match_word["match_word"], scorer=fuzz.ratio)
list_matches

('Bannana', 83, 2)

In [78]:
list_matches[0][1]

92

In [129]:
df_base_word['matched_word'] = df_base_word["base_word"].map(lambda x: process.extractOne(x, df_match_word["match_word"])[0])
df_base_word['match_ratio'] = df_base_word["base_word"].map(lambda x: process.extractOne(x, df_match_word["match_word"])[1])

In [130]:
df_base_word.head(10)

  base_word matched_word  match_ratio
0     Apple        apple          100
1      Pear         Bear           75
2    Banana      Bannana           92
3    Orange       Orange          100
4     Peach      Peaches           83

In [ ]:
# for each correct make:
for make in make_model.keys():
    # find potential matches
    matches = process.extract(make, cars['vehicle_make'], limit=cars.shape[0])
    # for each match
    for match in matches:
        # if high similarity score
        if match[1] >= 90:
            # replace the incorrect spelling with the make
            cars.loc[cars['vehicle_make'] == match[0], 
                    'vehicle_make'] = make